	<!-- Bootstrap -->
	<div class="legend">
    <form>
 <fieldset>
  <legend><b>Legend:</b></legend>
<span class="label info">Color:</span>
<span class="label places">Places</span>
<span class="label warning">Food</span>
<span class="label danger">Shopping</span>
 </fieldset>
</form>
</div>