<!DOCTYPE html>
<html>
<head>
	<title>Place</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/Bootstrap" rel="stylesheet">
    <link href="bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<div class="navbar">
  <a href="chooseplace">Home</a>
  <a href="schedule">Start Schedule</a>
  <div class="dropdown">
    <button class="dropbtn">More 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="chooseplace">Discover</a>
      <a href="login">Log In</a>
      <a href="login">Sign Out</a>
    </div>
  </div> 
</div>

	<div>
		<img src="http://www.sauder.ubc.ca/News/2016/~/media/Images/Alumni/Tokyo.ashx" alt = "Japan" style= "width:100%">
		<a href="tokyoplace">Tokyo</a>
	</div>
	<div>
		<img src="https://upload.wikimedia.org/wikipedia/commons/4/47/New_york_times_square-terabass.jpg" alt ="New York City" style="width: 100%">
		<a href="newyork">New York</a>
	</div>
	<div>
		<img src="http://cdn.wonderfulengineering.com/wp-content/uploads/2015/05/Rome-wallpaper-271.jpeg" alt="Rome" style="width: 100%">
		<a href="rome">Rome</a>
	</div>
</body>
</html>