<!DOCTYPE html>
<html>
<head>
	<title>Place</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="bootstrap-theme.css">
	<link rel="stylesheet" type="text/css" href="bootstrap.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<!-- Script to send user to selected country page -->
</head>
<body>
	<a href="tokyoplace">Tokyo</a>
	<hr>
	<hr>
	<hr>
	<a>Select a country</a>
	<div class="selectcountry">
		<select id = "country" name="Country">
			<option value="United States">United States</option>
			<option value="Europe">Europe</option>
			<option value="Japan">Japan</option>
			<option value="Austrailia">Austrailia</option>
		</select>
	</div>
	<input type="submit" name="country">

</body>
</html>