<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/style.css" rel="stylesheet">
	<title>I need help!</title>
</head>
<body>
<!-- NAVIGATION BAR -->
{{> navbar}}
<div>
	 <font size="+2">Help</font>
</div>

<div>
	<p>1. Choose a place you want to go to.</p>
	<p>2. View the activities available.</p>
	<p>3. Select the timeperiod to perform the activties.</p>
		<p><b>-Pick a starting time then pick a ending time.</b></p>
	<p>4. Click on the "Complete" button on the bottom of the activity page to submit your plan.</p>
	<p>5. View Plan</p>
	<p>6. Start a new plan? Click on discover or a new place to start a new plan.</p>

</div>
</body>
</html>