<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
    <link href="/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/Bootstrap" rel="stylesheet">
    <link href="bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>

<div class="navbar">
  <a href="home.html"><img src="pictures/homeButton.png" height="40' width"160"></a>
  <a href="calpick">Start Schedule</a>
  <div class="dropdown">
    <button class="dropbtn">More 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="choosecountry">Discover</a>
      <a href="help.html">Help</a>
      <a href="signout.html">Sign Out</a>
      <a href="usplace">Eat a Dick</a>
      <a href="europlace">Suck my balls</a>
      <a href="asiaplace">Why the fuck is this shit so stupid</a>
      <a href="login">Log the Fuck in</a>
    </div>
  </div> 
</div>

<div class="edit">
<button type="button">Edit</button>
</div>

<h2>Today is 08/12/2017</h2>

<table style="width:50%">
  <tr>
    <td>6AM</td>
  </tr>
  <tr>
    <td>7AM</td>
  </tr>
  <tr>
    <td>8AM</td>
  </tr>
  <tr>
    <td>9AM</td>
  </tr>
  <tr>
    <td>10AM</td>
  </tr>
  <tr>
    <td>11AM</td>
  </tr>
  <tr>
    <td>12PM</td>
  </tr>
  <tr>
    <td>1PM</td>
  </tr>
  <tr>
    <td>2PM</td>
  </tr>
  <tr>
    <td>3PM</td>
  </tr>
  <tr>
    <td>4PM</td>
  </tr>
  <tr>
    <td>5PM</td>
  </tr>
  <tr>
    <td>6PM</td>
  </tr>
  <tr>
    <td>7PM</td>
  </tr>
  <tr>
    <td>8PM</td>
  </tr>
  <tr>
    <td>9PM</td>
  </tr>
  <tr>
    <td>10PM</td>
  </tr>
  <tr>
    <td>11PM</td>
  </tr>
  <tr>
    <td>12AM</td>
  </tr>
  <tr>
    <td>1AM</td>
  </tr>
  <tr>
    <td>2AM</td>
  </tr>
  <tr>
    <td>3AM</td>
  </tr>
  <tr>
    <td>4AM</td>
  </tr>
  <tr>
    <td>5AM</td>
  </tr>
</table>

</body>
</html>