<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Login Form</title>
    <link rel="stylesheet" href="/css/loginpage.css">
  </head>
  <body>
    <div class="loginBox">
      <img src="pictures/user.png" class="user">
      <h2>Log In Here</h2>
      <form action="chooseplace" method="get">
        <p>Email</p>
        <input type="text" name="" placeholder="Enter Email">
        <p>Password</p>
        <input type="password" name="" placeholder="••••••">
        <input type="submit" name="" value="Sign In">
        <a href="#">Forget Password</a>
      </form>
    </div>
  </body>
</html>
