<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="style.css">

</head>
<body>

<div class="navbar">
  <a href="index"><img src="homeButton.png" height="40' width"160"></a>
  <a href="placeus">Home</a>
  <a href="index">Your Schedule</a>
  <div class="dropdown">
    <button class="dropbtn">More 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="discover.html">Discover</a>
      <a href="help.html">Help</a>
      <a href="signout.html">Sign Out</a>
    </div>
  </div> 
</div>

<h1>Choose a Place</h1>

<div class="card">
  <img src="pictures/aus.jpg" alt="Australia" style="width:100%">
  <div class="container">
    <h3><b>Australia</b></h3> 
    <p>Cities</p> 
  </div>

    <img src="pictures/eng.jpg" alt="England" style="width:100%">
  <div class="container">
    <h3><b>England</b></h3> 
    <p>Cities</p> 
  </div>

    <img src="pictures/brazil.jpg" alt="Brazil" style="width:100%">
  <div class="container">
    <h3><b>Brazil</b></h3> 
    <p>Cities</p> 
  </div>
</div>

</body>
</html>