<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
 {{> header}}
</head>
<body>

<div class="navbar">
  <a href="chooseplace">Home</a>
  <a href="schedule">Schedule</a>
  <div class="dropdown">
    <button class="dropbtn">More 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="chooseplace">Discover</a>
      <a href="tokyoplace">Tokyo</a>
      <a href="newyork">New York City</a>
      <a href="rome">Rome</a>
      <a href="login">Log In</a>
      <a href="login">Sign Out</a>
      <a href="help">Help?</a>
    </div>
  </div> 
</div>
