<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
    <link href="/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/Bootstrap" rel="stylesheet">
    <link href="bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>

<div class="navbar">
  <a href="home.html"><img src="pictures/homeButton.png" height="40' width"160"></a>
  <a href="calpick">Start Schedule</a>
  <div class="dropdown">
    <button class="dropbtn">More 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="chooseplace">Discover</a>
      <a href="tokyoplace">Place</a>
      <a href="help.html">Help</a>
      <a href="schedule">Sign Out</a>
      <a href="login">Log the Fuck in</a>
    </div>
  </div> 
</div>

<div class="edit">
<button type="button">Edit</button>
</div>
{{#each schedule}}
  <div class = "store name" id="{{store}}">
      <p>{{event}}</p>
      <p>{{time}}</p>
  </div>
{{/each}}

<h2>Today is 08/12/2017</h2>
</body>
</html>